<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header id="site-header">
      <div id="site-brand">

      </div>
      <div id="site-navbar">

      </div>
    </header>
    <main id="site-body">
      <div id="site-img">

      </div>
    </main>
    <sidebar id="site-sidebar">

    </sidebar>
    <footer id="site-footer">

    </footer>
  </body>
</html>
